*
{
	outline: 1px solid grey;
}
.payment img
{
	padding:20px;
	border-radius: 120px;
	border:1px solid grey;
	margin:0 auto;
	width: 20%;
}
.lista ul li
{
	display: inline-block;
	padding:10px;
	margin: 0 auto;
	color: black;
}
.listas li :hover
{
	background-color: #431B83;
	border: 2px solid: #EA0B8C;
	color: blue !important;
}
.next
{
	position: absolute;
	bottom:0px;
    right:0px;
    left: 0px;
	margin-bottom: 10px;
}
section .btn_log
{
	width: 100%;
	padding: 10px; 
	font-size: 30px;
	background-color: #5D5A6F;
	color: white;
	border:none;
	border-radius: 5px;
}