
*
{
	outline: 1px solid red;
}
/*ESTILOS DELA APP*/
.menuDrop
{
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
	width: 100%;
}
.logo
{
	width: 40px;
	height: 40px;
	margin:0 auto;
}
.shared
{
	margin-top: 5px;
}
.btn_map
{
	background-color: #431B83;
	color: white;
	width: 100%;
	padding: 20px;
	border:none;
	border-radius: 6px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.dIcon
{
	border-radius: 30px;
	padding: 10px;
	margin-right: 5px;
	margin-top: 10px;
	border:1px  solid black;
}
.dropdown-menu
{
	width: 100%;
	box-shadow: none;
}
.dropdown .btn-log
{
	text-align: left;
	width: 100%;	
	border-radius: 10px;
	border:1px solid grey;
	background-color: white;
	margin-top: 5px;
	font-size: 17px;
}
.btn-log p
{
	padding-left: 55px;	
	font-size: 12px;
	margin-top: -7px;
}
.li .shared
{
	margin-top: -7px;
	position: absolute;
}
.li span
{
	display: none;
}
#map{
	height: 100%;
	width: 100%;
	position: absolute;
	background-repeat:no-repeat;
	clear: both;
}
