/*ESTILOS DELA APP*/
.menuDrop
{
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;

}
.btn_map
{
	width: 100%;
	height: 60px;
	background-color: #431B83;
	margin: 0 auto;
	border-radius: 5px;
	color: white;
	margin-bottom: 10px;
}
.dIcon
{
	border-radius: 30px;
	padding: 10px;
	margin-right: 5px;
	margin-top: 10px;
	border:1px  solid black;
}
.dropdown-menu
{
	width: 70%;
	box-shadow: none;
}
.dropdown-menu  span
{
	position: absolute;
	right: 10px;

}
.shared  span
{
	position: absolute;
	right: 5px;
}
.dropdown-menu li
{
	padding: 5px;
	font-size: 15px;
}
.dropdown-menu li:hover
{
	background-color:  #D7D7D9;
	border: 2px solid: #EA0B8C;
	color: blue !important;
}
.dropdown .btn-log
{
	text-align: left;
	width: 100%;	
	border-radius: 10px;
	border:1px solid grey;
	background-color: white;
	margin-top: 5px;
	font-size: 17px;
}
.btn-log p
{
	padding-left: 55px;	
	font-size: 12px;
	margin-top: -7px;
}
.shared
{
	margin-left: 33px;	
	font-size: 12px;
	margin-top: -9px;
}

#map{
	height: 100%;
	width: 100%;
	position: absolute;
	background-repeat:no-repeat;
	clear: both;
}
/*ESTILOS DELA APP1*/
.btnRequest
{
	width: 100%;
	height: 60px;
	background-color:#EA0B8C;;
	margin: 0 auto;
	border-radius: 5px;
	color: white;
	margin-bottom: 10px;
}
.prev
{
	background-color: white;
	color: black;
	padding: 10px;
	border-radius: 80px;
	border: 1px solid black;
	margin-bottom: 10px;
}
#prev
{
	font-size:30px;
}
.menu
{
	clear: both;
	border-radius: 20px;
	background-color: white;
	border:1px solid grey;
	margin-bottom: 5px;
}
/*ESTILOS DELA APP2*/
header{
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
header .lyft
{
	margin-top: 15px;

}
header .logo{
    width: 40px;
    display: inline-block;
    color: white;
}
.img_face{
    border-radius: 100%;
    width: 40%;
    margin: auto;
    padding: 10px;
    border:1px solid rgba(0,0,0,0.2);;
}
.content_photo{
    padding: 50px;
}
.price{
    font-size: 30px;
    margin-top: 60px;
}
.opciones button{
    background: none;
    border: 1px solid rgba(0,0,0,0.1);
}
.opciones button:hover{
    background-color: #EA0B8C;
    color:#fff;
}
.self_info{
    margin: 0  10px; 
}


.next #btn_next
{
	width: 100%;
	padding: 10px; 
	background-color: #474c62;
	color: white;
	border:none;
	border-radius: 5px;
	font-size: 30px;
}
.next
{
	position: absolute;
	bottom:0px;
    right:0px;
    left: 0px;
	margin-bottom: 10px;
}