

/*ESTILOS DELA APP*/
.menuDrop
{
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
	width: 100%;

}
.btn_map
{
	background-color: #431B83;
	color: white;
	width: 100%;
	padding: 20px;
	border:none;
	border-radius: 6px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.dIcon
{
	border-radius: 30px;
	padding: 10px;
	margin-right: 5px;
	margin-top: 10px;
	border:1px  solid black;
}
.dropdown-menu
{
	width: 70%;
	box-shadow: none;
}
.dropdown-menu  span
{
	position: absolute;
	right: 10px;

}
.shared  span
{
	position: absolute;
	right: 5px;
}
.dropdown-menu li
{
	padding: 5px;
	font-size: 15px;
}
.dropdown-menu li:hover
{
	background-color:  #D7D7D9;
	border: 2px solid: #EA0B8C;
	color: blue !important;
}
.dropdown-menu .active{
    background: #f3f3f5;

}
.azul{
	color: #4e23bb;
}
.dropdown .btn-log
{
	text-align: left;
	width: 100%;	
	border-radius: 10px;
	border:1px solid grey;
	background-color: white;
	margin-top: 5px;
	font-size: 17px;
}
.btn-log p
{
	padding-left: 55px;	
	font-size: 12px;
	margin-top: -7px;
}
.shared
{
	margin-left: 33px;	
	font-size: 12px;
	margin-top: -9px;
}

#map{
	height: 100%;
	width: 100%;
	position: absolute;
	background-repeat:no-repeat;
	clear: both;
}
