/*Parte del header*/
header{
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
header .lyft
{
    margin-top: 15px;

}
header .logo{
    width: 40px;
    display: inline-block;
    color: white;
}
/**Parte de la foto del conductor */
#face
{
    width: 200px;
    height: 200px;
    margin:0 auto;
    border-radius: 100%;
    padding: 10px;
    border: 1px outset #aaaaaa;
}
#name
{
    font-weight: bold;
    font-size: 20px;
}
.driver-info
{
    margin: 20px 0px;
}
/**/
.price{
    font-size: 30px;
    margin-top: 60px;
}
.opciones button{
    background: none;
    border: 1px solid rgba(0,0,0,0.1);
}
.opciones button:hover{
    background-color: #EA0B8C;
    color:#fff;
}
/**/
section .btn_log
{
    width: 100%;
    padding: 20px 10px; 
    background-color: #474c62;
    color: white;
    border:none;
    font-size: 20px;
}
.next
{
    position: absolute;
    bottom:0px;
    right:0px;
    left: 0px;
    background-color: #474c62;
    margin-bottom: 10px;
}