/*ESTILOS DELA APP1*/
.car_description #car
{
	width: 200px;
}
.mastercard
{
	width: 10%;
}
.img_face{
    border-radius: 100%;
    width: 40%;
    border:1px solid rgba(0,0,0,0.2);;
} 
.logo
{
    width: 40%;
    margin:0 auto;
}
.menuDrop
{
	position: absolute;
	bottom: 0px;
	right:15px;
	left: 15px;
}
.btn_map
{
	background-color: #EA0B8C;
	color: white;
    margin-top: 10px;
	padding: 20px;
	width: 100%;
	border:none;
	border-radius: 6px;
	margin-bottom: 5px;
}
#map{
	height: 100%;
	width: 100%;
	position: absolute;
	background-repeat:no-repeat;
	clear: both;
}
.result, .set_pickup{
    position: absolute;
    bottom: 100px;
    right: 0px;
    left:0px;
    color: #000;
    font-size: 15px;
}
.result small{
    color: rgba(0,0,0,0.5);
}
.car_description, .car_payment{
    background: #f3f3f5;
    border: 2px solid outset grey;
}
/************ICONS--**********/
.iconos
{
    font-size: 25px;
    margin-bottom: 10px;
}
#prev
{
    background-color: white;
    padding: 20px;
    color: black;
    border-radius: 100%;
    border: 1px outset #aaaaaa;
}
/************CAR-DESCRIPTION**********/
.car_description{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
}
.car_description ul{
    margin: 10px;
}
.car_description #nameCar{
    font-weight: bold;
    font-size: 17px;
}
.car_description, .car_payment{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
/************CAR-PAYMENT**********/
.car_payment .personal{
    border-right: 1px solid rgba(0,0,0,0.1);
}
/************CAR-DIRECTION**********/
.car_direction i{
    font-size:10px;
}
.first_direction div{
    padding: 8px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.car_direction{
    background: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}