.carros .colu
{
	outline: 1px solid  #aaaaaa;
}
.cirles
{
	
	padding:10px;
}
.cirles li
{
	padding:10px;
	border-:1px;
}
/*ESTILOS DELA APP1*/
.car img
{

	width: 80%;
}

.mastercard
{
	width: 10%;
}
.set
{
	margin-top: 5px;
}
.personal
{
	background-color: white;
}
.tabla {
    
    background: #ECEBEB;
    border: solid 1px #aaaaaa;
}
header .logo{
    width: 70px;
    display: inline-block;
    
}
.img_face{
    border-radius: 100%;
    width: 40%;
    border:1px solid rgba(0,0,0,0.2);;
}
.prev
{
	background-color: white;
	color: black;
	padding:10px;
	border-radius: 100%;
	border: 1px solid #aaaaaa;
	margin-bottom: 10px;
}
#prev
{
	font-size:30px;
}

.menuDrop
{
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
}
.btn_map
{
	background-color: #EA0B8C;
	color: white;
	padding: 20px;
	width: 100%;
	border:none;
	border-radius: 6px;
	margin-bottom: 5px;
}
#map{
	height: 100%;
	width: 100%;
	position: absolute;
	background-repeat:no-repeat;
	clear: both;
}
.street
{
	padding: 8px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.street p
{
	padding: 2px;
}
.puntos
{
	padding: 8px;
}
.street .uno
{
	
	border-bottom: 1px solid #aaaaaa;
}
