/*ESTILOS DELA APP1*/
.car img
{
	margin: 0 auto;
	width: 200px;
}
.tabla {
    
    background: #F3F3F5;
    margin: 0 2%;
    border-radius:20px;
    border: solid 1px #aaaaaa;
}
.mastercard
{
	width: 10%;
}
.list
{
	margin-left:10px;
}
.prev
{
	background-color: white;
	color: black;
	padding: 10px;
	border-radius: 80px;
	border: 1px solid black;
	margin-bottom: 10px;
}
#prev
{
	font-size:30px;
}
.menu
{
	clear: both;
	border-radius: 20px;
	background-color: white;
	border:1px solid grey;
	margin-bottom: 5px;
}
.menuDrop
{
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;

}
.btn_map
{
	background-color: #431B83;
	color: white;
	padding: 20px;
}
#map{
	height: 100%;
	width: 100%;
	position: absolute;
	background-repeat:no-repeat;
	clear: both;
}
